@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');

html, body
{
     /* background */
     background: #000000;
     
     /* vai ser usado quando se trocar o background para usar a imagem do joker */
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;

     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     
     /* display do conteudo no centro do ecra*/
     display: flex;
     align-items: center;
     justify-content: center;
 
     /*usar fonte kumar importada */
     font-family: 'Kumar One', cursive;
     
     /* cursor personalizado */
     cursor: url("../img/cursors/batman.cur"), url("../img/cursors/batman.cur"), default;
}

.centered
{
  /* Usado para centrar a consola e o canvas */
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1200px;
  height: 500px;
}

.nintendoSwitch
{
  position: absolute;
  margin: auto;
  top: 35px;
  left: 0px;
  z-index: 1; /* garantimos que o z-index è 1 e que o game que tenho un index maior */
  width: 1190px;
  height: 440px;
}

.game
{
  box-shadow: 0px 0px 5px 5px rgb(23, 23, 49);
  outline: none;
  position: relative;
  top: 50px;
  left: 195px;
  z-index: 2; /* deste maneira garanto que o canvas fique encima e dentro de nintendo */
  width: 800px;
  height: 400px;
}

/* Logo do Batman SVG */

#loadingPage {
/* Loading Page batman configurado para ter o w e h total do ecra mas max 800 px */
 position: absolute;
  width: 100vmin;
  height: 100vmin;
  max-width: 800px;
  max-height: 800px;
}

/* Texto com press start para començar o jogo */

#loadingTexto:hover{
  color: black;
  transition: all 1.5 ease-out;
  text-shadow: -1px 0 #d6fd2a, 0 1px #d6fd2a, 1px 0 #d6fd2a, 0 -1px #d6fd2a;
  
  /* garantir que a rotaçao da animação é feita no orden top center  */
  transform-origin: top center;
  transform-box: fill-box; 
  animation: animAbanar 1s ease-in-out; 
}

#loadingTexto{
  position: absolute;
  color: #d6fd2a;
  bottom: 10%;
  font-size: xx-large;
  font-weight: bolder;
  animation: animTexto 1.5s infinite;
  text-shadow: 1px 1px 1px #000, 
  3px 3px 5px black; 

  /* Não deixar selecionar o texto */
  -webkit-touch-callout: none; 
  /* iOS Safari */ 
  -webkit-user-select: none; 
  /* Chrome/Safari/Opera */ 
  -khtml-user-select: none; 
  /* Konqueror */ 
  -moz-user-select: none; 
  /* Firefox */ 
  -ms-user-select: none; 
  /* Internet Explorer/Edge */ 
  user-select: none; 
  /* Non-prefixed version, currently not supported by any browser */ 
}

/* --------------------------
  Propriedades e KeyFrames para
  animar o Loading Page SVG
--------------------------- */

.olhoDireita, .olhoEsquerda
{
  fill-rule:evenodd; /*estavam no svg original*/
  clip-rule:evenodd;
  fill:#FFFFFF;
  animation: animPiscarOlhos 3s infinite;
  /* garantir que a rotaçao da animação é feita no orden top center  */
  transform-origin: top center;
  transform-box: fill-box; 
}

.linhasCara
{
  fill: #010202;
}

.linhasCapa {

  fill-rule:evenodd;
  clip-rule:evenodd;
  animation: animLinhas 2s linear forwards infinite;
}

.batmanLetras{
  fill: #d6fd2a;
  fill-rule:evenodd;
  clip-rule:evenodd;
  animation: animLetrasBatman 3s linear forwards infinite;
}

svg:hover .batmanLetras{
  /* garantir que a rotaçao da animação é feita no orden top center  */
  transform-origin: center;
  transform-box: fill-box; 
  fill: #ffffff;
  transition: all 1s ease-out;
  animation: none;
  transform: scale(1.1);
}

.nariz{
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#202020;
}

.cara
{
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#F4C5A1;
}

.capa {
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#000000;
}

@keyframes animAbanar {
  0%
  {
    transform: rotate(10deg);
  }
  25%
  {
    transform: rotate(-10deg);
  }
  50%
  {
    transform: rotate(20deg);
  }
  75%
  {
    transform: rotate(-5deg);
  }
  100%
  {
    transform: rotate(0deg);
  }
}

@keyframes animLinhas {
  0%
  {
      fill: #2e2e2e;
  }
  50%
  {
      fill: #d6dfdf;

  }
  100%
  {
      fill: #2e2e2e;
  }
}

@keyframes animPiscarOlhos
{
  90%
  {
      transform: none;
      animation-timing-function: ease-in;
  }
  93%
  {
      transform: translateY(1px) scaleY(0.3);
  }
  100% 
  {
      animation-timing-function: ease-out;
  }
}

@keyframes animLetrasBatman {
  50%,
  100%
  {
      opacity: 1;
  }
  0%,
  10%
  {
    transition: opacity 1s ease-out;
    opacity: 0;  
  }
}

@keyframes animTexto
{
  0% 
  {
      transform: translate(0,  0px);
  } 
  50%
  {
      transform: translate(0, 15px);
  }
  100% {
      transform: translate(0, 0px);
  }
}

/* --------------------------
  Propriedades e KeyFrames para
  animar o Presentation Game SVG
--------------------------- */

#ey3h83wnmh24
{
    animation: ey3h83wnmh24_c_o 10000ms linear 1 normal forwards;
}

#ey3h83wnmh222_to
{
    animation: ey3h83wnmh222_to__to 10000ms linear 1 normal forwards;
}

#ey3h83wnmh27
{
    animation: ey3h83wnmh27_c_o 10000ms linear 1 normal forwards;
}

#ey3h83wnmh28_to
{
    animation: ey3h83wnmh28_to__to 10000ms linear 1 normal forwards;
}

#ey3h83wnmh21
{
    position: absolute;
    top: calc(50% - 170px); /* mais ou menos o height do svg */
    z-index: 1;
}

#ey3h83wnmh210_to 
{
    animation: ey3h83wnmh210_to__to 10000ms linear 1 normal forwards;
}

#ey3h83wnmh212 
{
    animation: ey3h83wnmh212_c_o 10000ms linear 1 normal forwards;
}

#ey3h83wnmh216_to 
{
    animation: ey3h83wnmh216_to__to 10000ms linear 1 normal forwards;
}

#ey3h83wnmh218
{
    animation: ey3h83wnmh218_c_o 10000ms linear 1 normal forwards;
}

#ey3h83wnmh220_to 
{
    animation: ey3h83wnmh220_to__to 10000ms linear 1 normal forwards;
}

@keyframes ey3h83wnmh24_c_o
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes ey3h83wnmh27_c_o
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes ey3h83wnmh28_to__to
{ 
    0%
    {
        transform: translate(-4px,-115.100000px);
    }
    100%
    {
        transform: translate(0px,-0px);
    }
}

@keyframes ey3h83wnmh210_to__to
{
    0%
    {
        transform: translate(491.433313px,-116.580378px);
    } 
    100%
    {
        transform: translate(477.182000px,0.000444px);
    } 
}

@keyframes ey3h83wnmh212_c_o
{
    0%
    {
        opacity: 0;
    } 
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

@keyframes ey3h83wnmh216_to__to
{
    0%
    {
        transform: translate(453px,119.750004px);
    }
    50%
    {
        transform: translate(553px,119.750004px);
    }
    100%
    {
        transform: translate(653px,119.750004px);
    }
}

@keyframes ey3h83wnmh218_c_o
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    } 
}

@keyframes ey3h83wnmh220_to__to 
{ 
    0%
    {
        transform: translate(456.750000px,119.613060px);
    }
    50%
    {
        transform: translate(356.750000px,119.613060px);
    }
    100%
    {
        transform: translate(256.750000px,119.613060px);
    }
}

@keyframes ey3h83wnmh222_to__to
{
    0% 
    {
        transform: translate(450px,132.950005px);
    }
    50%
    {
        transform: translate(500px,132.950005px);
    }
    100%
    {
        transform: translate(550px,132.950005px);
    } 
}